/* styles/customStyles.css */
.katex-display > .katex {
    white-space: normal;
  }
  
  /* Add space between broken lines: */
  .katex-display > .base {
    margin: 0.25em 0;
  }
  
  /* Compensate by reducing space around display math */
  .katex-display {
    margin: 0.5em 0;
  }
  .katex-display > .katex {
    max-width: 100%;
}
.katex-display > .katex > .katex-html {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 2px;
    padding-right: 2px;
}